/* home */
.main{
   background-image: url(https://i2.wp.com/photos.smugmug.com/Africa/Morocco/Sahara/i-hx8BBH7/0/a2421653/L/2019-03-22%20at%2018-18-17-L.jpg);
   background-size: cover;
}
.navs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.nav {
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav>a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav a:hover{
    background-color: #111;
}

div>h1{
    color: navy;
    text-align: center;
    font-family: Abril Fatface, cursive;
}

div>#new{
    text-align: center;
}
h2{
    font-family: Abril Fatface, cursive;
    border-top: 25px;
    color: navy;
}
img{
    width: 50%;
    margin-bottom: 70px;
    margin-top: 70px;
}

div>h1{
    text-align: center;
}

.forms{
    text-align: center;
}

div>p{
    text-align: center;

    margin-left: 120px;
    margin-right: 120px;
    font-family: 'Courgette', cursive;
}

footer{
    background-color: slategrey;
    color: white;
    height: 70px;
    text-align: center;
}

